$color-dark: #030303;
$color-white: #fff;
$color-gold: #9d8665;
$color-dark-red: #710707;

$font-primary: Roboto;
$font-secondary: Forum;

$font-size-xl: 80px;
$font-size-l: 32px;
$font-size-md: 28px;
$font-size-sm: 22px;
$font-size-xs: 18px;

$space-size: 58px;

$filter-gold: invert(57%) sepia(9%) saturate(1301%) hue-rotate(356deg) brightness(94%) contrast(87%);
$filter-dark-red: invert(10%) sepia(50%) saturate(5606%) hue-rotate(17deg) brightness(104%) contrast(121%);

$content-width: 1440px;

$indent-base: 75px;

$transition-base: 1s;
