.restore__example {
  .image-slider {
    position: relative;
  }

  .image-slider > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 56px;
    overflow: hidden;
  }

  .image-slider img {
    display: block;
    user-select: none;
    box-sizing: border-box;

    @include laptop {
      // max-width: 100%;
    }

    @include mobile {
      width: 100%;

      &.explore__slider {
        display: none;
      }
    }
    

  }

  .image-slider input {
    margin: 0;
    position: absolute;
    top: 0;
    left: 52%;
    bottom: 10px;
    height: 100%;
    // width: 120%;
    background: transparent;
  }

  .image-slider input::before {
    content: '';
    height: 100%;
    width: 5px;
    background: white;
  }

  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    border: 4px solid $color-white;
    border-radius: 100%;
    background: transparent;
    background-blend-mode: overlay;
    // padding: ;
    z-index: 45;
    cursor: ew-resize;
  }

  .explore__slider {
    position: absolute;
    height: 700px;
    width: 39px;
    top: 0;
    left: 58%;
    z-index: 150;

    @include mobile {
      width: 100%;

      #explore__slider {
        display: none;
      }
    }
  }
}

#top-image img {
  @include mobile {
    width: 380px;
  }
}

// -------------------------------------
.before-after {
  position: relative;
  // display: inline-block;
  // vertical-align: top;
  // user-select: none;
}

.before-after .photo img {
  // display: block;
  max-width: 100%;
  height: auto;
}

.before-after .photo.before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate(-39%);
}

.before-after .photo.before img {
  transform: translate(39%);
}

.slider-line {
  width: 4px;
  height: 100%;
  position: absolute;
  left: 60.85%;
  pointer-events: none;

  @include mobile {
    width: 2px;
  }
}

.slider-line::before,
.slider-line::after {
  z-index: 10;
  position: absolute;
  content: "";
  width: 4px;
  height: calc(50% - 15px);
  background: #fff;

  @include tablet {
    height: calc(50.5% - 7.5px);
  }

  @include mobile {
    height: calc(51.5% - 7.5px);
    width: 2px;
  }
}

.slider-line::before {
  top: 0;
}

.slider-line::after {
  bottom: 2px;
  height: 47%;

  @include tablet {
    height: 45%;
  }
}

.slider-line span {
  z-index: 10;
  height: 30px;
  width: 30px;
  border: 4px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  @include tablet {
    top: 52%;
  }

  @include mobile {
    height: 15px;
    width: 15px;
    border: 2px solid #fff;
  }
}

.slider-line span::before {
  left: 40%;
  border-left-color: #fff;
}

.slider-line span::after {
  left: 60%;
  border-top-color: #fff;
}
