.restore__example {
  .image-slider {
    position: relative;
  }

  .image-slider > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 56px;
    overflow: hidden;
  }

  .image-slider img {
    display: block;
    user-select: none;
    box-sizing: border-box;

    @include laptop {
      // max-width: 100%;
    }

    @include mobile {
      width: 100%;

      &.explore__slider {
        display: none;
      }
    }
    

  }

  .image-slider input {
    margin: 0;
    position: absolute;
    top: 0;
    left: 52%;
    bottom: 10px;
    height: 100%;
    // width: 120%;
    background: transparent;
  }

  .image-slider input::before {
    content: '';
    height: 100%;
    width: 5px;
    background: white;
  }

  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
    border: 4px solid $color-white;
    border-radius: 100%;
    background: transparent;
    background-blend-mode: overlay;
    // padding: ;
    z-index: 45;
    cursor: ew-resize;
  }

  .explore__slider {
    position: absolute;
    height: 700px;
    width: 39px;
    top: 0;
    left: 58%;
    z-index: 150;

    @include mobile {
      width: 100%;

      #explore__slider {
        display: none;
      }
    }
  }
}

#top-image img {
  @include mobile {
    width: 380px;
  }
}

// -------------------------------------
.before-after {
  position: relative;
  // display: inline-block;
  // vertical-align: top;
  // user-select: none;
}

.before-after .photo img {
  // display: block;
  max-width: 100%;
  height: auto;
}

.before-after .photo.before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translate(-50%);
}

.before-after .photo.before img {
  transform: translate(50%);
}

// .before-after .drag-handler {
//   width: 8px;
//   background-color: #f17f04;
//   margin: 0 0 0 -4px;
//   position: absolute;
//   left: 50%;
//   top: 0;
//   height: 100%;
//   opacity: .25
// }

// .before-after .drag-handler .drag-element {
//   position: absolute;
//   left: -16px;
//   top: 50%;
//   width: 32px;
//   height: 32px;
//   margin: -16px 0 0 0;
//   background-color: #fff;
//   border: 4px #f17f04 solid;
//   cursor: pointer;
//   transform: rotate(45deg)
// }

// .before-after:hover .drag-handler {
//   opacity: 1
// }