.panorama {
  height: 400px;
  background-image: url(./../assets/img/parallax.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  @include tablet {
    height: 300px;
  }
}
