.journey-slides {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;

  // iframe {
  //   width: 452px;
  //   height: 254px;
  // }

  @include laptop {
    column-gap: 40px;

    // iframe {
    //   height: 170px;
    // }
  }
}

.journey-wrap {
  @include laptop {
    max-width: 100%;
  }
}

.jorney-counter {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.journey-item {
  width: 12px;
  height: 12px;
  background-color: #999;
  row-gap: 40px;
  border-radius: 100%;
  cursor: pointer;
  transition: all $transition-base;

  &:hover {
    background-color: $color-dark-red;
  }
}

.journey-item_active {
  background-color: #333;
}

.jorney-counter__arrow {
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;
  cursor: pointer;
  transition: all $transition-base;
}

.jorney-counter__arrow_left {
  background-image: url(./../assets/img/carousel-video/arr-left.svg);

  &:hover {
    background-image: url(./../assets/img/carousel-video/arr-left-copy.svg);
  }
}

.jorney-counter__arrow_right {
  background-image: url(./../assets/img/carousel-video/arr-right.svg);

  &:hover {
    background-image: url(./../assets/img/carousel-video/arr-right-copy.svg);
  }
}
