.welcome__slider {
  display: flex;
  color: $color-white;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 40px 75px;
  background-color: #000;
  font-size: 22px;
  line-height: 40px;
  z-index: 10;

  @include laptop {
    padding: 40px 75px 40px 224px;
    column-gap: 45px;
  }

  @include tablet {
    // TODO: fix paddings

    width: 100%;
    padding: unset;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    column-gap: 45px;
  }

  @include mobile {
    // TODO: fix paddings
    width: unset;
    column-gap: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

.carousel {
  display: flex;
  align-self: center;
  column-gap: 25px;
  margin-right: 60px;

  @include laptop {
    margin-right: unset;
  }

  @include mobile {
    column-gap: 10px;
  }
}

.carousel-item {
  width: 16px;
  height: 16px;
  background-color: $color-white;
  cursor: pointer;
  transition: all $transition-base;

  &:hover {
    background-color: $color-gold;
  }

  @include laptop {
    width: 12px;
    height: 12px;
  }

  @include mobile {
    width: 7px;
    height: 7px;
  }
}

.carousel-item_active {
  background-color: $color-gold;
}

.welcome__counter {
  display: flex;
  column-gap: 10px;
  margin-right: 55px;
  font-family: $font-primary;
  font-weight: 300;
  font-size: 22px;
  line-height: 40px;
  /* identical to box height, or 182% */

  text-transform: uppercase;
  color: $color-white;

  @include laptop {
    margin-right: unset;

    @include font($font-primary, 20px, 300, 40px);
  }

  @include mobile {
    column-gap: 6px;

    @include font($font-primary, 16px, 300, 40px);
  }
}

.carousel-arrows {
  display: flex;
  align-self: center;
  column-gap: 20px;

  @include mobile {
    column-gap: 15px;
  }
}

.arrow {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  outline: none;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-position-y: center;
  transition: all $transition-base;

  &:hover {
    filter: $filter-gold;
  }

  @include mobile {
    background-size: 20px 20px;
    width: 20px;
  }
}

.arrow_left {
  background-image: url(./../assets/img/welcome-slider/arrow-left.svg);
}

.arrow_right {
  background-image: url(./../assets/img/welcome-slider/arrow-right.svg);
}

.welcome__carousel {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.carousel__item {
  max-width: 1000px;
  height: 810px;
  display: none;
  animation: 0.4s ease-in-out;
}

.welcome__carousel::after {
  content: " ";
  background: linear-gradient(
90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.carousel__item img {
  width: 100%;
}


.welcome__carousel .active {
  display: initial;
}



.to-left {
  animation-name: left;
}

.from-right {
  animation-name: right;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
  // height: 50px;
}

