.journey {
  margin-bottom: $indent-base;
}

.journey__intro {
  display: flex;
  padding-top: $indent-base;
  padding-bottom: $indent-base;
}

.journey__info {
  align-self: center;
  font-family: $font-primary;
  font-weight: 300;
  font-size: $font-size-sm;
  line-height: 38px;
}

.journey__info,
.journey__title {
  flex-basis: 50%;
}

.video {
  // padding-top: $indent-base;
}

.video__settings {
  padding: 25px 30px;
  display: flex;
  column-gap: 50px;
  justify-content: space-between;
  background-color: #000;
}

.video__btn {
  background-repeat: no-repeat;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: none;
  transition-property: filter;
  transition-duration: 0.8s;
}

.video__btn:hover,
.video__btn_big:hover {
  cursor: pointer;
  filter: $filter-gold;
}

.video__btn_pause {
  width: 23px;
  height: 30px;
  background-image: url(./../assets/img/video/pause.svg);
}

.video__btn_volume {
  align-self: center;
  width: 38px;
  height: 30px;
  background-image: url(./../assets/img/video/voice.svg);
}

.video__btn_full {
  width: 36px;
  height: 36px;
  background-image: url(./../assets/img/video/full.svg);
}

.video__state {
  display: flex;
  column-gap: 41px;
}

.video__volume {
  width: 155px;
}

.video__progress {
  width: 70%;
}

.range {
  align-self: center;
  border-radius: 0;
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.video__volume {
  background: linear-gradient(to right, #710707 0%, #710707 43%, #c4c4c4 40%, #c4c4c4 100%);
}

.video__progress {
  background: linear-gradient(to right, #710707 0%, #710707 53%, #c4c4c4 40%, #c4c4c4 100%);
}

.range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: $color-white;
}

.video__image {
  width: 100%;
  display: block;
}

.video__mock {
  position: relative;
}

.video__btn_big {
  bottom: 0;
  position: absolute;
  background-image: url(./../assets/img/video/pause-big.svg);
  width: 220px;
  height: 220px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition-property: filter;
  transition-duration: 0.8s;
}
