.journey {
  margin-bottom: $indent-base;

  // TODO: get rid of margin

  @include laptop {
    padding-bottom: 60px;
    margin-bottom: unset;
  }

  @include tablet {
    margin-bottom: unset;
    padding-bottom: 80px;
  }

  @include mobile {
    padding-bottom: 40px;
  }
}

.journey__intro {
  display: flex;
  padding-top: $indent-base;
  padding-bottom: $indent-base;

  @include laptop {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  @include tablet {
    padding-top: 44px;
    padding-bottom: 22px;
  }

  @include mobile {
    padding-top: 35px;
    padding-bottom: 22px;
  }
}

.journey__info {
  align-self: center;
  font-family: $font-primary;
  font-weight: 300;
  font-size: $font-size-sm;
  line-height: 38px;

  @include laptop {
    &_laptop {
      display: none;
    }
  }
}

.journey__info,
.journey__title {
  flex-basis: 50%;

  @include tablet {
    flex-basis: auto;
  }
}

.video {
  // padding-top: $indent-base;
}

.video__settings {
  padding: 25px 30px;
  display: flex;
  column-gap: 50px;
  justify-content: space-between;
  background-color: #000;

  @include laptop {
    position: relative;
    padding: 15px 40px;
    column-gap: 30px;
  }

  @include tablet {
    padding: 14px 30px;
  }

  @include mobile {
    padding: 17px 20px;
  }
}

.video__btn {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 38px;
  height: 38px;
  background-color: transparent;
  border: none;
  transition-property: filter;
  transition-duration: 0.8s;
}

.video__btn:hover,
.video__btn_big:hover {
  cursor: pointer;
  filter: $filter-gold;
}

.video__btn_pause {
  width: 23px;
  height: 30px;
  background-image: url(./../assets/img/video/pause.svg);

  @include laptop {
    width: 23px;
    background-size: 100% 100%;
  }

  @include mobile {
    width: 14px;
    height: 18px;
  }
}

.video__btn_pause {
  width: 23px;
  height: 30px;
  background-image: url(./../assets/img/video/pause.svg);
}

.video__btn_pausep {
  background-image: url(./../assets/img/svg/pause.svg);
}

.video__btn_volume {
  align-self: center;
  width: 38px;
  height: 30px;
  background-image: url(./../assets/img/video/voice.svg);

  @include laptop {
    width: 26px;
    height: 20px;
    background-size: 100% 100%;
  }

  @include tablet {
    order: 2;
  }

  @include mobile {
    width: 18px;
    height: 14px;
  }
}

.video__btn_mute {
  background-image: url(./../assets/img/svg/mute.svg);
}

.video__btn_full {
  width: 36px;
  height: 36px;
  background-image: url(./../assets/img/video/full.svg);

  @include laptop {
    width: 26px;
    height: 26px;
    background-size: 100% 100%;
  }

  @include tablet {
    order: 4;
  }

  @include mobile {
    width: 18px;
    height: 18px;
  }
}

.video__state {
  display: flex;
  column-gap: 41px;
}

.video__volume {
  width: 155px;

  @include tablet {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }
}

.video__progress {
  width: 70%;

  @include tablet {
    order: 3;
  }
}

.range {
  align-self: center;
  border-radius: 0;
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;

  @include laptop {
    height: 5px;
  }
}

.video__volume {
  background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);

  @include tablet {
    position: absolute;
    top: -4px;
    width: 100%;
    left: -2px;
  }
}

.video__progress {
  background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
}

.range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: pointer;
  background: $color-white;

  @include mobile {
    width: 10px;
    height: 10px;
  }
}

.video__image {
  width: 100%;
  height: 100%;
  padding-bottom: 86px;
  display: block;
}

.video__mock {
  position: relative;
}

.video__btn_big {
  bottom: 0;
  position: absolute;
  background-image: url(./../assets/img/video/pause-big.svg);
  width: 220px;
  height: 220px;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  transition-property: filter;
  transition-duration: 0.8s;

  @include laptop {
    width: 152px;
    height: 152px;
    background-size: 152px 152px;
  }

  @include tablet {
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
  }

  @include mobile {
    width: 50px;
    height: 50px;
  }
}

.btn_hidden {
  display: none;
}


.video__settings {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

.video__speed {
  position: absolute;
  bottom: 20%;
  color: #eee;
  font-family: 'Roboto';
  right: 10%;
  font-size: x-large;
  visibility: hidden;
  transition: all 0.8s;
}
